
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Macondo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
.heading {
    color: black;
    align-items: center;
    display: flex;
    justify-content: center; 
    padding-top: 2ch;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-size: 120%;
    
 
    
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
    
  }
  
  .photo img {
    max-width: 100%;
    max-height: 100%;
    box-shadow:0 0 10px 5px rgba(1, 0, 1, 0.5); ;
    border-radius: 100%;
  }
  
  
  .highligh{
    background-color: white;
    color: black;
  }
  .underline{
    text-decoration: underline;
    
  }

  .searchbar{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 3ch;
  
  }

  .searchbar input{
    width: 300px;
    height: 20px;
    border: none; /* Remove button border */
    padding: 15px 30px; /* Adjust button padding for bigger size */
    font-size: 18px; /* Adjust button font size */
     cursor: pointer; /* Change cursor to pointer on hover */
     border-radius: 25px; /* Make corners round */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    font-family: "Truculenta", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: black;
    color: white;
    
  }
  .button1{
    height: 45px;
    width: 45px;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    margin-left: 1ch;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    background-color: black;
  }
  .output{
    width: 40%;
    margin: 0 auto;
    padding-top: 3ch;
    height: 300px;
    margin-top: 3ch;
    background-color: black;
    border-radius: 30px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: large;
    
    
  }
  .output h3{
    color: white;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
    

  }
  .output ul{
    padding: 0; 
  margin: 0;
  
  
  }

  li {
    margin-bottom: 8px;
    margin-left: 4px; /* Adjust the spacing as needed */
    display: flex;
  justify-content: center;
  }

  .photo {
    position: relative;
    
  }
  
  .bump-animation img {
    animation: bump 0.5s ease infinite alternate;
  }
  
  @keyframes bump {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  